<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-spacer"></span>
    <!--<button aria-label="Add donor" (click)="addDonor()">-->
    <!--<mat-icon class="add-donor-icon">person_add</mat-icon>-->
    <!--</button>-->
  </mat-toolbar-row>
</mat-toolbar>

<button mat-fab class="add-donor-button">
  <mat-icon (click)="addDonor()" aria-label="Add a donor">person_add</mat-icon>
</button>

<!--<mat-sidenav-container class="example-container">-->
<!--<mat-sidenav #sidenav class="example-sidenav">-->
<!--Jolly good!-->
<!--</mat-sidenav>-->

<!--<div class="example-sidenav-content">-->
<!--<button type="button" mat-button (click)="sidenav.open()">-->
<!--Open sidenav-->
<!--</button>-->
<!--</div>-->

<!--</mat-sidenav-container>-->

<!--<button mat-button (click)="downloadAll()">DOWNLOAD PDFS</button>-->

<!--<mat-card>Simple card</mat-card>-->

<!--<mat-card>Simple card 2 </mat-card>-->

<!--<mat-card>Simple card 3</mat-card>-->

<!--<mat-chip-list>-->
<!--<mat-chip>One fish</mat-chip>-->
<!--<mat-chip>Two fish</mat-chip>-->
<!--<mat-chip color="primary">Primary fish</mat-chip>-->
<!--<mat-chip class="mat-h2" color="accent" selected="true">Accent fish</mat-chip>-->
<!--</mat-chip-list>-->


<!--<button (click)="downloadAll()">download all</button>-->
<div class="donor-cards-container">
  <app-donor *ngFor="let donor of donors | async" [donor]="donor"></app-donor>
  <!--{{ donor.firstName }} {{donor.familyName}} ({{donor.town}})-->
  <!--{{ donor | json }}-->
</div>
