<mat-toolbar color="primary">

    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<!--<mat-sidenav-container class="example-container">-->
  <!--<mat-sidenav #sidenav class="example-sidenav">-->
    <!--Jolly good!-->
  <!--</mat-sidenav>-->

  <!--<div class="example-sidenav-content">-->
    <!--<button type="button" mat-button (click)="sidenav.open()">-->
      <!--Open sidenav-->
    <!--</button>-->
  <!--</div>-->

<!--</mat-sidenav-container>-->

<!--<button mat-button (click)="downloadAll()">DOWNLOAD PDFS</button>-->

<!--<mat-card>Simple card</mat-card>-->

<!--<mat-card>Simple card 2 </mat-card>-->

<!--<mat-card>Simple card 3</mat-card>-->

<!--<mat-chip-list>-->
  <!--<mat-chip>One fish</mat-chip>-->
  <!--<mat-chip>Two fish</mat-chip>-->
  <!--<mat-chip color="primary">Primary fish</mat-chip>-->
  <!--<mat-chip class="mat-h2" color="accent" selected="true">Accent fish</mat-chip>-->
<!--</mat-chip-list>-->
<button (click)="downloadAll()">download</button>
